@font-face {
    font-family: Pixel;
    src: url(Pixeboy-z8XGD.ttf);
}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: whitesmoke;

}

.examples {
    color: black; 
}

li {
    list-style-type: none;

}

ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.header {
    display: flex;
    flex: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: #1F2937;
    padding: 0 150px;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    min-height: 100px;
    height: 100px;
    z-index: 99999;
}


.header-logo {
    color: whitesmoke;
    font-size: 32px;
    font-weight: 900;
    min-width: auto;
}

#who-am-I {
    color: black;
}
.block-one {
    display: flex;
    background: beige;
    padding: 0 150px;
    max-height: 350px;
    height: 350px;
    justify-content: space-between;
    
}

.block-one-left {
    display: flex;
    flex-flow: column ;
    gap: 50px;
}

.block-one-header {
    color: whitesmoke;
    font-size: 24px;
}

#cafe-pic {
    margin-top: 60px;
}

.block-one-sub {
    color: grey;
    width: 400px;
}

img {
    height: 200px;
    width: auto;
    border-radius: 10px;
    margin: 0;
    font-size: 2.5rem;
}

#etch-a-sketch {
    height: 300px;
    width: 400px;
}

#cookie-clicker {
    height: 300px;
    width: 400px;
}

#rock-paper-scissors{
    height: 300px;
    width: 400px;
}

button {
    position: absolute;
    right: 150px;
    background-color: green;
    color: white;
    border-radius: 12px;
    outline: none;
    border: 2px solid whitesmoke;
    padding: 5px;
    height: 75px;
    width: 175px;

}

button::before {
    position: absolute;
    content:"";
    background: #654321;
    border-radius: 12px;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
}

button:hover::before {
    left: -100%;
}
.block-two {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-height: 100px;
}

.block-two-header {
    font-weight: 900;
    font-size: 32px;

}

/* .box {
    border: solid 3px green;
    border-radius: 15px;
    padding: 15px;
    margin: 0;
    height: 300px;
    width: 400px;
} */

.block-three {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
}


.box-and-caption {
    display: flex;
    flex-flow: column;
    flex: 1;
    align-items: center;
    margin: 15px;
    margin-bottom: 40px;
}

.caption {
    font-family: Pixel;
    font-size: 25px;
}

.row {
    display: flex;

}

.block-four {
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    height: 300px;
    color: black;
    padding-left: 150px;
    padding-right: 150px;
}

.four-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 65%;
}

.four-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.quoter {
    font-weight: 700;
    margin-left: auto;
}

.block-five {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.blue-block {
    display: flex;
    flex-flow: row ;
    justify-content: space-between;
    align-items: center;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
    background-color: green;
    border-radius: 15px;
    color: whitesmoke;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
    border: 10px;
    width: 800px;
    height: 100px;  
}

.footer {
    /* display: flex;
    flex-flow: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: whitesmoke; */
    background-color: #1F2937;
    height: 600px;
    min-height: 50px;
    padding: 0 150px;
}
